[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

future = "*"
python-telegram-bot = "*"
"e1839a8" = {path = ".", editable = true}
sqlalchemy = "*"
apscheduler = "*"
retrying = "*"


[dev-packages]

"flake8" = "*"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
freezegun = "*"
